.price-table {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
}

.header, .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: start;
}

.header {
    font-weight: bold;
    background-color: #c1ced9;
    color: black;
}

.row:nth-child(even) {
    background-color: #CDDBB8;
    color: black;
}

.cell {
    border: 1px solid black;
    padding: 6px;
}
