.preloader-img-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.preloader-img {
    width: 260px;
    height: 260px;
}

@media (max-width: 825px) {
    .preloader-img {
        width: 220px;
        height: 220px;
    }
}

@media (max-width: 480px) {
    .preloader-img {
        width: 145px;
        height: 145px;
    }
}
